{% extends 'base.html' %}

{%block content %}
    <div class='container'>
        <div class='row'>
            <h1>Employees</h1>
        </div>
        <div class='row'>
            <div class="col-6">
                <div class="collection">
                    {% for candidate in user_list %}
                    <a href="{% url 'timesheet:employee' candidate.id %}" class="collection-item">{{candidate.username}}</a>

                    {%endfor%}
                </div>

            </div>



        </div>

    </div>

{% endblock %}